@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anek+Gujarati&family=Anek+Tamil&family=Didact+Gothic&family=GFS+Neohellenic&family=Kulim+Park&family=Kumbh+Sans&family=Lexend+Deca&family=Marcellus&family=PT+Sans+Narrow&family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&family=Questrial&family=REM&family=Radio+Canada+Big&family=Raleway:wght@900&family=Roboto:wght@400;900&family=Sulphur+Point&family=Syne&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-size: 41px;
  color: #512b58;
}
#worldImage {
  height: 60%;
  width: 40%;
  margin-bottom: -70px;
  margin-top: -180px;
}

body {
  background: linear-gradient(
    90deg,
    rgb(44, 0, 62) 0%,
    rgb(139, 102, 241) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo {
  width: 50%;
  height: 20vh;
  border: 1px solid red;
}

.Container {
  height: 65vh;
  width: 40%;
  background-color: #d2fafb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 14px 15px 0px 0px #2b003d;
  border: 3px solid #2b003d;
}

#searchForm {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-top: 12px;
}
#searchFormInput {
  background-color: #fbf9f2;
  border: none;
  font-size: 12px;
  padding: 10px;
  width: 75%;
  border-radius: 6px;
}

#searchButton {
  background-color: #fe346e;
  margin-left: 5px;
  font-size: 12px;
  color: white;
  border: none;
  padding: 10px 17px;
  line-height: 1;
  border-radius: 5px;
  width: 25%;
}

.firstRow {
  display: flex;
  flex-direction: row;
  padding: 5px 25px;
}
.dayLight {
  color: #512b58;
}
.theDate {
  color: rgb(96, 90, 90);
}
.dayLightTemp {
  font-weight: 800;
}

.dataDetails {
  font-size: 14px;
}

.rightDetails {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.degree {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.weatherTemperature {
  position: fixed;
  font-size: 65px;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  margin-left: -75px;
  margin-top: 20px;
}
.weatherUnit {
  position: fixed;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-size: 16px;
  margin-top: 30px;
  margin-left: -5px;
}
#rightIcon img {
  height: 50px;
  width: 50px;
}

#rightIcon {
  margin-top: 40px;
  margin-left: 20px;
}

.leftDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.days {
  display: flex;
  flex-direction: column;
}

.secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 17px;
  margin-top: 20px;
  background-color: #bff5f6;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 17px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer p {
  padding: 11px;
  border-radius: 5px;
  color: rgb(170, 168, 168);
}

#theIcon img {
  width: 50px;
  height: 50px;
  text-align: center;
}

.theDate {
  font-size: 13px;
  text-align: center;
}
